* {
  color: white;
}

a {
  text-decoration: none;
}


body {
  background-image: url("../images/site/desk1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

canvas {
  background-color: black;
}

button {
  color: white;
  border: none;
  font-size: 1.5em;
}


.container {
  background-color: #06090e;
  background-color: rgba(6, 9, 14, .95);
}
