html {
  height: 100%;
}

body {
  margin-bottom: 15em;
}

canvas {
  margin: 1em;
}

.container {
  margin-bottom: 2em;
}

.header {
  margin-top: none;
  height: 20vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.article {
  margin-left: 2em;
}

#mycanvas {
  text-align: center;
}
